.logo {
    font-size: 45px;
    font-weight: 800;

}

img.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;

}

img.icon {
    width: 20px;

}

img.shoes {
    width: 100%;
    height: 50vh;

}

.orange-button{
    background-color: orange;
    color: white;
    padding: 15px 30px 15px 30px;
margin-bottom: 20px;
    width: 80%;
}

button::before {
    content: url(images/white-cart.svg);
}

h3 {


    color: rgb(255, 166, 0);
    font-size: 16px;
}

h1 {

    font-weight: 700;
    font-size: 35px;
}

.marg-text {
    margin: 20px;
}

p.price {
    /* width: 50px; */

    background-color: #FFF0E2;
    color: #F1A76E;
    border-radius: 10px;
    text-align: center;


}

p.price:before {
    font-size: 35px;
    content: "$125.00";
    font-weight: bold;
    position: absolute;
    color: black;
    top: -14px;
    left: 150px;

}

p.price:after {
    font-size: 20px;
    content: "$250.00";
    text-decoration: line-through;
    position: absolute;
    color: #B9B9C1;
    top: -3px;
    right: 75px;
}

.grey {
    background-color: #F7F8FD;
    border-radius: 8px;
    width: 80%;
}

p.font-weight-bold:before {
    content: url(images/minus-sign-of-a-line-in-horizontal-position-svgrepo-com.svg);
    position: absolute;
    left: 80px;

}

p.font-weight-bold:after {
    content: url(images/plus-svgrepo-com.svg);
    position: absolute;
    right: 80px;
}