* {
  box-sizing: border-box;
}

.bg {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  background: #23a7ff; /* fallback for old browsers */
  background: linear-gradient(
      rgba(48, 106, 221, 0.787),
      rgba(55, 189, 230, 0.87)
    ),
    url("images/klaipedos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.orange {
  color: #f7b05b;
}
.orange-bg {
  background-color: #f7b05b;
}
/* .cropped {
  width: 300px;
  height: 200px;
} */
a {
  text-decoration: none;
}
.grey {
  background-color: rgb(216, 216, 216);
}
.position-relative {
  top: -50px;
}
.bullets {
  text-transform: none;
  list-style-image: url("images/check-svgrepo-com.svg");
}
.padding {
  padding-left: 5rem;
}
.header-paddingL{
padding-left: 60px;
}
.header-paddingR{
    padding-right: 40px;
    }